<div class="header">
  <div class="vcenter" style="right: 3vw;">

    <a href="/logout">
      <span>
        Wyloguj
      </span>
    </a>

    <a href="/showProducts">
      <span>
        Produkty
      </span>
    </a>

    <a href="/showClients">
      <span>
        Klienci
      </span>
    </a>

    <a href="/orders">
      <span>
        Zamówienia
      </span>
    </a>

    <a href="/add">
      <span>
        Dodaj produkt
      </span>
    </a>

  </div>
  <div class="vcenter">
    <form method="POST" action="/szukajAdmina">
        <input type="text" name="szukajAdmina" id="szukajAdmina">
        <input type="submit" value="Szukaj">
    </form>
  </div>
</div>
