<div class="login">
  <form id="formula" method="POST">
    <label for="email" class="biggerLabel">Email: </label>
    <input type="text" name="email" class="biggerInput"><br />
    <label for="pass" class="biggerLabel">Hasło: </label>
    <input type="password" name="pass" class="biggerInput"><br />
    <input type="submit" class="biggerLabel" value="Zaloguj" />
  </form>
  <p class="biggerLabel"><%= mssg %></p>

  <a href="../resPass">Zapomniałeś hasła? Kliknij</a>

</div>
