<div class="center" style="padding: 3vw;">
  <h1 style="text-align: center;">Właśnie się zalogowałeś.</h1>
<div>
<script>
function upToDateUser(){
  localStorage.setItem("user","<%= type %>");
  localStorage.setItem("email","<%= email %>");
}
</script>
