<div class="center" style="padding: 3vw;">
  <h1 style="text-align: center;">Dziękujemy za rejestracje.</h1>
  <h2 style="text-align: center;">Na Twój adres email <%= data.email %> niedługo przyjdzie link aktywacyjny.</h2>
<div>
