<div class="header">
  <div class="vcenter" style="right: 3vw;">

    <a href="/logout">
      <span>
        Wyloguj
      </span>
    </a>

    <a href="/basket">
      <span>
        Koszyk
      </span>
    </a>

  </div>
  <div class="vcenter">
    <form method="POST" action="/szukaj">
        <input type="text" name="szukaj" id="szukaj">
        <input type="submit" value="Szukaj">
    </form>
  </div>
</div>
