<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>No siemaffffffffffffffffffffffffffffnko!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! prosto z siema!</h1>

    <p>Who: <%= data.who %></p>
    <p>Where: <%= data.where %></p>

  </body>
</html>
