<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>No siemanko!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! prosto z siema!</h1>

    <form id="formula" method="POST">
      <label for="who">do you wanna fight with?</label>
      <input type="text" name="who">
      <label for="where">whre you wanna fight with?</label>
      <input type="text" name="where">
      <input type="submit" value="wyslij" />
    </form>

  </body>
</html>
