<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>A toe jest profil:)!</h1>
    <p>O id <%= person %> :) </p>
    <h2>A hobby ma takie:)</h2>
    <ul>
      <% hobbies.forEach(function(item){ %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  </body>
</html>
